@charset "utf-8";

/*
em HTML é id = em CSS é #
Em HTML é class = em CSS é .
*/
body{
    background-color: rgb(118, 244, 185);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(6, 108, 6);
}
h1#principal {
    text-align: center;
    background-color: rgb(6, 108, 6);
    color: white;
}

h2{
    color: rgb(61, 163, 61);

}
.basico{
    color:rgb(61, 163, 61);
    font-weight: bold;
}
.intermediario{
    color:rgb(163, 161, 61);
}
.avancado{
    color:rgb(163, 61, 61);
}
.destaque{
    background-color: rgba(236, 233, 62, 0.712);
}